.small-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 16px;
}

.small-card-list-wrapper {
  width: 80%;
  margin: 40px auto 0;
}
