@import 'src/variables';

form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

input::placeholder {
	color: $gray-light;
}

.input-icon {
	width: 32px;
	height: 32px;
	background: url(../../assets/search.svg) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	cursor: pointer;
}

.input-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 762px;
	height: 64px;
	background: $search-background;
	border-radius: 16px;
	&::after {
		content: attr(data-error);
		position: absolute;
		bottom: -25px;
		left: 0;
		margin: 0 16px;
		color: $primary;
	}
	@media (max-width: 720px) {
		width: calc(100vw - 40px);
		&::after {
			bottom: -45px;
		}
	}
}

.input {
	width: calc(100% - 48px);
	height: auto;
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: left;
	border: none;
	outline: none;
	background: none;
	padding: 23px 16px;
}
