.search-result-wrapper {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-result-list {
	width: 80%;
	margin: 20px auto 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding: 0;
	gap: 16px;
	position: relative;
	height: fit-content;
}
