$header-background: linear-gradient(
  90deg,
  #343333 38.05%,
  #484848 69.22%,
  #282828 98.98%
);
$primary-light: #e0a449;
$primary: #f17900;
$gray: #393939;
$gray-light: rgba(57, 57, 57, 0.5);
$search-background: rgba(57, 57, 57, 0.05);
$footer-background: #ffffff;
$main-background: #fafafa;
